
// Body
$body-bg: #fff;

// Remove Border Radius
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Brands
// $brand-primary: $gray-light !default;
// $brand-success: #23ae23 !default;   //#62c462
// $brand-info: #10a4d5 !default;      //#5bc0de
// $brand-warning: #f89406 !default;
// $brand-danger:  #ee5f5b !default;
