@import "_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a:hover {
    text-decoration: none;
}

// customized cursor on hover tooltips
.help-hover {
    cursor: help;
}
